[diff]
  renames = copy

[color]
  ui = true
[user]
	name = yusuke.matsuda
	email = yusuke.matsuda@luxiar.com
[core]
  editor = vim
  autocrlf = input
  whitespace = cr-at-eol
  pager =
  excludesfile = ~/.gitignore
	quotepath = false
[alias]
  ll = log --stat --abbrev-commit -n 5
  lp = log --oneline -n 10 -p
  ls = log --stat --abbrev-commit -n 1
  s  = status --short --branch
  st = status
  co = checkout
  d  = diff
  dc = diff --cached
  b  = branch

